<div class="card mt-3 mb-3 p-5">
    <div class="card-body">
        {% if commentsAllowed %}
            <form action="" method="POST" id="mainCommentForm">
                <div class="form-group">
                    <label class="font-weight-bold">Ваше имя</label>
                    <input class="form-control" type="text" name="author" value="Аноним">
                    <label class="mt-2 font-weight-bold">Текст комментария</label>
                    <textarea class="form-control" name="comment" id="textarea" rows="3"></textarea>
                    <input class="form-control" type="hidden" name="parentId" value="">
                    <input type="hidden" name="{{ csrfNameKey }}" value="{{ csrfName }}">
                    <input type="hidden" name="{{ csrfValueKey }}" value="{{ csrfValue }}">
                    <button type="submit" class="btn btn-primary mt-2" id="submitButton"
                            onClick="addComment(event, this.id)">Submit
                    </button>
                </div>
            </form>
        {% else %}
            <h4 class="text-center">Комментарии к файлу закрыты</h4>
        {% endif %}
    </div>
</div>

<div class="card mt-3 mb-3" {% if comments is empty %} hidden {% endif %}>
    <div class="card-body p-5" id="commentBlock">
        {% for comment in comments if comment.is_deleted==false %}
            <div style="margin-left:{{ comment.getDepth()*30 }}px !important" id="{{ comment.id }}"
                 class="m-1 border p-3">
                <div class="font-italic"
                     id="commentHeader">{{ comment.author }} {{ comment.posted|date("m/d/Y") }}</div>
                <div id="commentBody">{{ comment.comment_text }}
                    {% if commentsAllowed %}
                        <button type="button" class="btn btn-primary btn-sm float-sm-right reply" id="{{ comment.id }}"
                                onClick="showReplyForm(this.id)">Ответить
                        </button>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
