{% extends "base.twig" %}
{% block title %} Скачать Файл - {{ file.original_name }} {% endblock %}
{% block content %}
    <div class="card  mt-4">
        <div class="card-body">
            <h4>{{ file.original_name }}</h4><br>
            <div class="row">
                <div class="col-4">
                    <a href="/file/{{ file.id }}/{{ file.original_name }}" class="btn btn-primary btn-lg ml-5">Скачать
                        файл</a>
                </div>
                <div class="col-8">
                    <table class="table table-bordered text-center">
                        <thead>
                        <tr>
                            <th scope="col">Имя</th>
                            <th scope="col">Размер</th>
                            <th scope="col">Дата загрузки</th>
                            <th scope="col">Число скачиваний</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ file.original_name }}</td>
                            <td>{{ file.size }}</td>
                            <td>{{ file.uploaded }}</td>
                            <td>{{ file.download_counter }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-4 mt-2">
                    <label for="downloadLink" class="btn-outline-info btn" id="bufferCopyBtn" onclick="copyToClipboard(event)">Скопировать ссылку в буфер</label>
                    <input class="form-control" type="text"  value="{{ link }}" id="downloadLink">
                    {% if isAuth %}
                        <a href="/delete/file/{{ file.id }}" class="btn btn-outline-danger mt-2">Удалить файл</a>
                    {% endif %}
                </div>
                {% if file.isVideo () or file.isAudio () %}
                <div class="col-8 ">
                    <div id="file-video-container" class="m-auto" style="width: 50%; height: 50%;">
                        <video id="file-video-player" class="video-js vjs-default-skin vjs-big-play-centered"
                               controls preload="auto" data-setup="{}">
                            <source src="/file/{{ file.id }}/{{ file.original_name }}?player=true">
                        </video>
                    </div>
                    </div>
                    {% elseif file.isImage () %}
                   <div class="col offset-3">
                       <img src="{{ pathToThumbnail }}">
                   </div>
                    {% endif %}
        </div>

        </div>
    </div>
        {% include 'comments.twig' %}
{% endblock %}
{% block js %}
    <script src="/assets/js/comments.js"></script>
    <script src="/assets/js/video.min.js"></script>
    <script src="/assets/js/clipboard.js"></script>
    <script>
        var videoPlayer = videojs('file-video-player', {fluid: true, width: 640, height: 360, preload: 'metadata'});
        videojs.options.flash.swf = "/assets/flash/video-js.swf";
    </script>
{% endblock %}
