{% if viewParams.totalPages > 1 %}
    {% set pagesBefore=viewParams.currentPage-2%}
        {% set pagesAfter = (viewParams.totalPages-viewParams.currentPage )> 1 ? viewParams.currentPage+1:viewParams.totalPages %}
    <div class="row">
        <div class="sm-6 mx-auto mt-5">
            <ul class="pagination">
           {% if viewParams.currentPage>1 %}
                <li class="page-item"><a class="page-link" href='{{ viewParams.getPageLink(viewParams.currentPage-1) }}'>&laquo;</a></li>
           {% endif %}
                {% if pagesBefore>3%}
                <li class="page-item"><a class="page-link" href="{{ viewParams.getPageLink(1) }}">1</a></li>
                    <li class="page-item">...</li>
                {% else %}
                    {% set pagesBefore=1 %}
                {% endif %}
                {% set i=pagesBefore %}
                {% for i in range(pagesBefore, pagesAfter) %}
                {% if i==viewParams.currentPage %}
                    <li class="page-item active">
                        <a class="page-link" href="{{ viewParams.getPageLink(i) }}"> {{ i}} </a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{{ viewParams.getPageLink(i) }}">{{ i}}</a></li>
                {% endif %}
                {% endfor %}

                    {% if pagesAfter < viewParams.totalPages %}
                    <li class="page-item">...</li>
                <li class="page-item"><a class="page-link" href="{{ viewParams.getPageLink(viewParams.totalPages) }}">{{ viewParams.totalPages }}</a></li>
                {% endif  %}

                {% if viewParams.currentPage != viewParams.totalPages %}
                    <li class="page-item"><a class="page-link" href='{{ viewParams.getPageLink(viewParams.currentPage+1) }}'>&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endif %}
